force-app/main/default/flows/Resource_in_Flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>change_var_1</name>
        <label>change var 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Var1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rohan Dham</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_test1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rishabh Dham</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Resource in Flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource in Flows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_2_of_test1</name>
        <label>Copy 2 of test1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_textfield1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var1</elementReference>
            </defaultValue>
            <fieldText>textfield1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_test2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>const1</elementReference>
            </defaultValue>
            <fieldText>test2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_date</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>today</elementReference>
            </defaultValue>
            <fieldText>date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_textTemplate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>txtemplate</elementReference>
            </defaultValue>
            <fieldText>textTemplate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test1</name>
        <label>test1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>change_var_1</targetReference>
        </connector>
        <fields>
            <name>textfield1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var1</elementReference>
            </defaultValue>
            <fieldText>textfield1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>test2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>const1</elementReference>
            </defaultValue>
            <fieldText>test2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>date</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>today</elementReference>
            </defaultValue>
            <fieldText>date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>textTemplate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>txtemplate</elementReference>
            </defaultValue>
            <fieldText>textTemplate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>test1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>txtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(251, 77, 77);&quot;&gt;&lt;em&gt;&lt;u&gt;{!const1} -- Hello--- {!today} --- Hi ---{!Var1}&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>hello</stringValue>
        </value>
    </variables>
</Flow>
